.gallery {
    background-color:  #ffe92f;
}

.special-wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.gallery_header {
    max-width: 580px;
    display: block;
    margin: 0 auto;
}

.gallery_title {
    margin-bottom: 10px;
}

.gallery_paragraph {
    margin-bottom: 45px;
}

.mobile-view_gallery-images {
    display: none;
}

.gallery-images {
    margin-bottom: 50px; 
}

.gallery-images_main-image {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    }
}

.gallery-images_col-images {
    display: flex;
    flex-direction: column;
    
    img {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
        margin: 0 0 30px 30px;
    }
}

.gallery-images_lower-row {
    display: flex;
    justify-content: space-between;

    img {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    }
}

.gallery_button {
    @include btn(20px 40px);
    background-color: #5585a2;
    font-size: 2rem;

    &:hover,
    &:focus {
        background-color: #6696b3;
    }
}

@media only screen and (max-width: 1170px) {
    .mobile-view_gallery-images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        img {
            margin: 10px;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
        }
    }

    .gallery-images_normal-view {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .mobile-view_gallery-images {

        img {
            width: 80%;
            margin: 5px;
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
        }
    }
}
